baserom.us.z64
undefined_funcs_auto.txt
undefined_syms_auto.txt
asm/
build/
assets/
mod/
expected/
rsp/
marioparty.ld
ctx.c
build.ninja
.ninja_deps
.ninja_log
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode/tasks.json
.vscode/settings.json
__pycache__/
.DS_Store
.*.swp